*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Dark-Blue : hsl(217, 28%, 15%);   /* (intro and email sign up background) */
    --Dark-Blue-1 : hsl(216, 22%, 23%);   /* (intro and email sign up background) */
    --Dark-Blue : hsl(218, 28%, 13%); /* (main background) */
    --Dark-Blue-2 : hsl(218, 28%, 13%); /* (main background) */
    --Dark-Blue : hsl(216, 53%, 9%); /* (footer background) */
    --Dark-Blue-3 : hsl(216, 53%, 9%); /* (footer background) */
    --Dark-Blue : hsl(219, 30%, 18%); /* (testimonials background) */
    --Dark-Blue-4 : hsl(228, 26%, 14%); /* (testimonials background) */
    /* ### Accent */
    
    --Cyan : hsl(176, 68%, 64%); /* (inside call-to-action gradient) */
    --Blue : hsl(198, 60%, 50%); /*  (inside call-to-action gradient)*/
    --Light-Red : hsl(0, 100%, 63%); /* (error) */
    
    /* ### Neutral */
    
    --White: hsl(0, 0%, 100%);
    --ff-Header-Navigation: 'Raleway', sans-serif;
    --ff-Body: 'Open Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}
html{
    overflow-x: hidden;
    width: 100%;
}
body{
    background-color: var(--Dark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
    width: 100%;
}
#position-fixed{
    cursor: pointer;
}
body #position-fixed{
    bottom: 16px;
    right: 16px;
    z-index: 9;
    display: inline-block; /* Ensure the element respects the width and height */
    animation: vibrate 0.5s linear infinite; /* Apply the vibration animation */
}
@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(2px); }
    }
#navbar{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    /* padding: 10px; */
    background-color: var(--Dark-Blue-1);
}
header .links{
    display: flex ;
    list-style-type: none;
}
header ul li a{
    display: block;
    padding: 15px 20px;
}

#a{
    text-decoration: none;
    color: var(--White);
    font-family: var(--ff-Header-Navigation);
    font-weight: var(--fw-regular);
}
#a:hover{
    color: var(--White);
    text-decoration:underline;
    font-weight: var(--fw-bold);
}
body #illustration-intro{
display: flex;
justify-content: space-around;
margin: 70px 70px 16px 70px;
}

body #illustration-intro img{
    animation: moveUpDown 2s ease-in-out infinite alternate;
}
@keyframes moveUpDown {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-5%); 
    }
}

body #text-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    background-image: url(./images/bg-curvy-desktop.svg);
    height: 350px;
}
body #text-body h1{
    font-family: var(--ff-Body);
    font-weight: var(--fw-regular);
    color: var(--White);
    width: 400px;
}
body #text-body p{
    font-family: var(--ff-Body);
    font-weight: var(--fw-regular);
    color: var(--White);
    width: 480px;
}


body #text-body button{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    align-self: center;
    background-color: var(--Cyan);
    font-family: var(--ff-Body);
    font-weight: var(--fw-regular);
    color: black;
    cursor: pointer;
    border: none;
}

/* SECTION FETURE */
body #imgs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-color :hsl(228, 26%, 14%) ;
}
body #imgs h4{
    color: var(--White);
    margin: 5px;
    font-family: var(--ff-Body);
    font-weight: var(--fw-bold);
}
body #imgs p{
    color: hsl(0, 10%, 80%);;
    margin: 5px;
    font-family: var(--ff-Body);
    font-weight: var(--fw-regular);
    width: 450px;
}

body #imgs img{
    width: 50px;
    margin: 20px;
    
}

body #imgs .imgs1 .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
body #imgs .imgs2 .item{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

/* SECTION productive */
body #productive{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    background-color:hsl(228, 26%, 14%) ;
}
body #productive .illustration-stay-productive{
    margin: 40px;
}
body #productive .illustration-stay-productive img{
    animation: moveUpDown 2s ease-in-out infinite alternate;
}
@keyframes moveUpDown {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-5%); 
    }
}

body #productive .text-part-two{
    padding: 0 0px 0px 0px;
    margin: 16px;
}
body #productive .text-part-two p{
    font-family: var(--ff-Body);
    margin: 20px 0px 20px 0px;

}
/* body #productive .text-part-two p:hover{
    color: var(--Cyan);
} */
body #productive .text-part-two h1{
    font-family: var(--ff-Header-Navigation);
    margin-bottom: 30px;
    /* width: 200px; */
}
body #productive .text-part-two button{
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    margin-top: 30px;
    background-color:var(--Dark-Blue-4) ;
    border: none;
    color: var(--White);
}

/* SECTION PROFILE */
body #profiles{
    background-color: var(--Dark-Blue-4) ;
    padding-bottom: 2.5rem;
}
body #profiles .quotes{
    position: relative;
    left: 75px;
    top: -35px;
    z-index: 1;
}
body #profiles .container-profile {
    display: flex;
    gap: 2rem;
    margin-top: 25px;
}
body #profiles .container-profile .profile-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--White);
    padding: 16px;
    margin: 16px;
    text-align:justify;
    border-radius: 10px;
    background-color:var(--Dark-Blue-1) ;
    height: fit-content;
    z-index: 1;
    font-size: 15px;
    font-family: var(--ff-Body);
}

body #profiles .container-profile .profile-text .profile-items {
display: flex;
gap: 1rem;
}
body #profiles .container-profile .profile-text .profile-items img {
    width: 40px;
    border-radius: 20px;
}
body #profiles .container-profile .profile-text .profile-items p {
    color: rgb(156, 156, 156);
}
/* SECTION EMAIL */
body #email {
    background-color: var(--Dark-Blue-4);
}
body #email .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    left: 20%;
    margin-bottom: -120px;
    background-color: var(--Dark-Blue-1);
    width: 60%;
    text-align: center;
    padding: 30px;
    color: var(--White);
    border-radius: 20px;
    font-family: var(--ff-Body);
}

body #email .content .form input{
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px var(--Cyan) ;
}
body #email .content .form button{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: var(--White);
    background-color: var(--Cyan);
}

/* section footer */
body #footer .footer-contianer{
    display: flex;
    flex-direction: column;
    padding: 200px 50px 0 50px;
    gap: 2rem;
    color: #858282;
    font-family: var(--ff-Header-Navigation);
    font-weight: var(--fw-regular);
}

body #footer .footer-contianer .footer-items{
    display: flex;
    justify-content: space-between;
}
body #footer .footer-contianer .footer-items .footer-text{
    display: flex;
    gap: 2rem;
}

body #footer .footer-contianer .footer-items .conection{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}
@media(max-width:676px){
    body #footer .footer-contianer .footer-items .conection{
       
        align-items: center;
        
    }
}
body #footer .footer-contianer .footer-items .conection .conection-img{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
body #footer .footer-contianer .footer-items .conection .conection-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
body #footer .footer-contianer .footer-items .info-item ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}
body #footer .footer-contianer .footer-items .info-item ul li a{
    text-decoration: none;
    color: rgb(133, 130, 130);
}

body #footer .footer-contianer .footer-items .social-icon ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
body #footer .footer-contianer .footer-items .social-icon ul li a{
    color: var(--White);
    font-size: 25px;
    border-radius: 20px;
}
/* body #footer .footer-contianer .footer-items .social-icon ul li a:hover{
    color: var(--Blue);
    
} */

footer{
    background-color: var(--Dark-Blue-3)
}
.attribution { font-size: 20px; text-align: center;  color: var(--Cyan); }
.attribution a {  color: var(--White); }
/* start media for modile */
@media (max-width:1024px) {
    body{
        background-color: var(--Dark-Blue);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow-x: hidden;
    }
    header{
        width: 100%;
        padding: 10px;
    }
    header .links{
        display: flex ;
        justify-content: space-around;
        width: 70%;
    }
    header ul li a{
        display: block;
        padding: 1px 1px;
    }
    
    header img{
        width: 80px;
    }
    body #illustration-intro img{
        width: 100%;
    }

    body #text-body h1{
        padding: 0 40px 0 40px;
        text-align:center;
    }
    body #text-body p{
        font-family: var(--ff-Body);
        font-weight: var(--fw-regular);
        color: var(--White);
        width: 340px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    body #imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    body #imgs p{
        width: 320px;
    }
    
    
    body #productive{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    body #productive .illustration-stay-productive img{
        width: 100%;
    }
    body #productive .text-part-two h1{
        width: 350px;
        font-size: 20px;
    }
    body #profiles .container-profile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    body #profiles .container-profile .profile-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* width: 100%; */
    }
    body #profiles .quotes{
        position: relative;
        left: 0px;
        top: 50px;
        z-index: 1;
    }
    body #email{
        width: 100%;
    }  
    body #email .content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        left: 5%;
        width: 90%;
        text-align: center;
    }
    body #email .content .form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    body #email .content .form input{
        width:100% ;
    }
    body #footer .footer-contianer{
        display: flex;
        flex-direction: column;
        padding: 200px 0px 0 0px;
        margin: 16px;
    }
    body #footer .footer-contianer .footer-items{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    body #footer .footer-contianer .footer-items .social-icon ul{
        display: flex;
        justify-content: center;
    } 
}
/* end media for modile */
